
html {
    font-size: 16px;
}
body {
    margin: auto;
    font-family: 'Source Code Pro', monospace; 
}
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    height: 45px;
    background-color: #969fa8a3;
    height: 45px;
}
#menu img {
    
}
.navigation{
    float: right;
    padding-inline-end: 10px;
}
#menu:hover {
    cursor: pointer;
}
.navigation li {
    display: none;
}
header {
    position: sticky;
    top: -215px;
    margin-block-start: 45px;
}
#page-title figure {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -215px;
    background-color: #e3e0cf;
    padding-top: 5px 0px;
    margin: 0px;
}
#page-title figcaption {
    margin: 45px 0px 0px;
    font-size: 1.17em;
    border-block-start: 1px solid #c5d5cb;
}
#page-title img {
    margin: 10px auto;
}
#page-title figcaption a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
main {
    margin-block-start: 45px;
}
#page-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 5px;
    border: 1px solid #c5d5cb;
    margin: 5px;
}
.post p {
/* set up max width of p body text box by @media query */
    display: none;
    text-align: center;
    color: rgba(0,0,0, 0.5)
}
h2, h4, figcaption {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0, 0.5)
}
h2 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
#related-content {
    padding-top: 45px;
}
.ext-content li {
    color: rgba(0,0,0, 0.5)
}
#contacts {
    border-top: 1px solid #c5d5cb;
}
#contacts p {
    text-align: center;
    font-size: 0.823125em;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}
#contacts a {
    text-decoration: none;
    color: black;
}
#contacts a:hover {
    cursor: pointer;
}
