
html {
    font-size: 16px;
}
body {
    margin: auto;
    font-family: 'Source Code Pro', monospace; 
}
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    background-color: #9fa8a3;
    height: 40px;
}
#menu img {
    
}
.navigation{
    float: right;
    padding: 5px 10px;
    margin: auto;
}
#menu:hover {
    cursor: pointer;
}
.navigation li {
    display: none;
}

/* Header Style */

header {
    position: sticky;
    top: -119px;
    margin-block-start: 40px;
}
#page-title {
    display: flex;
    flex-direction: column;
}
#page-title figure {
    display: flex;
    background-color: #e3e0cf;
    margin: 0px;
}
#page-title figure img {
    margin: 10px auto;
    width: 36%;
}
#page-title figcaption {
    padding: 10px;
    font-size: 1.17em;
    border-block-start: 1px solid #c5d5cb;
    border-block-end: 1px solid #c5d5cb;
    /* chenge background-color of figcaption to #e3e0cf while figcapture reach top stick position */ 
}
#page-title figcaption a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
main {
    margin-block-start: 5px;
}
#page-post {
    display: flex;
    overflow: auto;
}

.post {
    padding: 5px 5px;
    border: 1px solid #c5d5cb;
    margin: 5px;
}
.post figure {
    margin: auto;
}
.post img {
    width: 100px;
}
.post p {
    display: none;
    text-align: center;
    color: rgba(0,0,0, 0.5)
}
h2, h4, figcaption {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0, 0.5)
}
h2 {
    font-size: 1em;
}
h4 {
    
}
#related-content h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
.ext-content li {

    color: rgba(0,0,0, 0.5)
}
#contacts {
    border-top: 1px solid #c5d5cb;
}
#contacts p {
    text-align: center;
    font-size: 0.823125em;
    font-style: italic;
    margin: 5px;
}
#contacts a {
    text-decoration: none;
    color: black;
}
#contacts a:hover {
    cursor: pointer;
}
