
html {
    font-size: 16px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace; 
}
/* Navigation Style */
.navigation {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    background-color: #9fa8a3;
    height: 42px;
}
.navigation__list{
    float: right;
    height: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
}
.navigation__dark,
.navigation__light {
    position: relative;
    top: 4px;
}
.navigation__lightpic, .navigation__darkpic,
.navigation__menupic {
    position: relative;
    margin: 0px;
}
.navigation__menubtn {
    background-color: #9fa8a3;
    border-color: #9fa8a3;
    height: 25px;
    padding: 0px;
    border-width: 0px;
}
.navigation__menubtn:hover, .navigation__menubtn:focus {
    background-color: rgb(159, 168, 163);
}
.navigation__menu {
    position: relative;
    top: 4px;
    display: inline;
    
}
.navigation__menu__content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #e3e0cf;
    min-width: 120px;
    box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.3);
    z-index: 1;
}
.navigation__link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navigation__l {
    display: inline;
}
.navigation__link:hover {
    background-color: rgb(159, 168, 163);
}
.show__menu {
    display: block;
}

/* Header Style */

header {
    margin-block-start: 40px;
}
.page-title {
    display: flex;
    flex-direction: column;
}
.page-title__item{
    display: flex;
    background-color: #e3e0cf;
    margin: 0px;
}
.page-title__pic {
    margin: 10px auto;
    width: 48%;
}
.page-title__name {
    padding: 5px;
    margin: 0;
    color: rgba(0,0,0, 0.8);
    font-size: 1.4em;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.page-title__subt {
    padding: 10px;
    font-size: 0.8em;
    border-block-start: 1px solid #c5d5cb;
    border-block-end: 1px solid #c5d5cb;
    line-height: 0.5;
    text-align: center;
    color: rgba(0,0,0, 0.5);
}
#page-title__author {
    text-decoration: none;
    color: black;
}
#countup {
    display: inline;
}
main {
    margin-block-start: 5px;
}
.page-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-post__guide,
.page-post__tickets,
.page-post__dressing {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #c5d5cb;
    margin: 5px;
}
.page-post__item {
    margin: 0 auto;
}
.page-post__pic {
    width: 100%;
}
.page-post__text__guide {
    display: none;
    text-align: left;
    color: rgba(0,0,0, 0.5)
}
.page-post__text__tickets {
    display: none;
    text-align: left;
    color: rgba(0,0,0, 0.5)
}
.page-post__text__dressing{
    display: none;
    text-align: left;
    color: rgba(0,0,0, 0.5)
}
.show__post {
    display: flex;
    flex-flow: column;
    overflow: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 42px;
    overflow: scroll;
    background: white;
}
.show__post__text {
    display: block;
}
.art__name {
    font-size: 1.1em;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0, 0.5);
    margin: 16px 0px;
}
.related-content {
    height: 180px;
    margin-top: 42px;
}
.related-content__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0,);
}
.related-content__ext {
    font-weight: 600;
}
.contacts {
    background-color: #c5d5cb;
}
.contacts__add {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    margin: 5px;
    padding: 10px;
}
.contacts__l {
    text-decoration: none;
    color: black;
}
.contacts__l:hover {
    cursor: pointer;
    text-decoration: underline;
}
em {
    font-weight: 600;
}
@media only screen and (max-width: 320px) {
.page-title__subt {
    line-height: 1.4;
}
.page-post__guide,
.page-post__tickets,
.page-post__dressing {
        width: 100%;
    }
.show__post__text {
    max-width: 315px;
    }
}
@media only screen and (min-width: 375px) {
    body {
        height: 2400px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        height: 2290px;
    }
    .post {
        width: 47%;
    } 
    .page-title__figure {
        width: 45%;
    }
    .page-title__pic {
        width: 30%;
    }
    .page-title__name {
        font-size: 2.3em;
    }
    .page-title__subt {
        font-size: 1.1em;
    }
    #page-title__author {
        font-size: 1em;
    }
    .page-post {
        display: block;
        margin-top: 40px;
        margin-bottom: 45px;
    }
    .page-post__item {
        margin: 0px 15px;
    }
    .page-post__guide,
    .page-post__tickets,
    .page-post__dressing {
        display: flex;
        width: 97%;
        margin: 5px;
    }
    .page-post__pic{
        width: 200px;
    }
    .page-post__text__guide,
    .page-post__text__tickets,
    .page-post__text__dressing {
        display: block;
    }
    .art__name {
        font-size: 1.5em;
    }
    .related-content__title {
        font-size: 1.5em; 
    }
    .related-content__ext {
        font-size: 1.3em;
    }
    .contacts__add {
        font-size: 1em;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        height: 2500px;
    }
    .page-title__pic{
        margin: 10px 6% 10px;
        width: 28%;
    }
    .page-post {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .page-post__guide,
    .page-post__tickets,
    .page-post__dressing {
        width: 98%;
    }
    .page-post__pic{
        width: 200px;
    }
    .page-post__text__guide,
    .page-post__text__tickets,
    .page-post__text__dressing {
        display: block;
    }
    .page-title__name {
        font-size: 2.1em;
    }
    .art__name {
        font-size: 1.7em;
    }
    .related-content__title {
        font-size: 1.7em; 
    }
    .related-content__ext {
        font-size: 1.4em;
    }
    .contacts__add {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 1280px) {
    body {
        height: 1900px;
    }
    main {
        padding: 0 150px;
    }
    .navigation__menubtn {
        display: none;
    }
    .navigation__menu__content {
        display: inline-flex;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        right: auto;
    }
    .navigation__l {
        padding-right: 0.8em;
    }
    .navigation__link {
        text-decoration: none;
        color: black;
    }
    .page-title__pic {
        width: 150px;
        height: 150px;
        margin: 10px 4% 10px;
    }
    .page-post {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .page-post__pic{
        width: 200px;
    }
    .page-post__text__guide,
    .page-post__text__tickets,
    .page-post__text__dressing {
        display: block;
    }
    .page-title__name {
        font-size: 1.8em;
    }
    .page-title__subt {
        font-size: 1.1em;
    }
    .art__name {
        font-size: 1.2em;
    }
    .related-content__title {
        font-size: 1.2em; 
    }
    .related-content__ext {
        font-size: 1em;
    }
    .contacts__add {
        font-size: 1em;
    }
}