/* Universal styles */
* {
    font-family: 'Source Code Pro', monospace;

}

/* Body rulesets */
body {
    display: block;
    margin: 0 15%;

}
/* Header and Text styles rulesets */
header {
   	display: flex;
   	flex-direction: row;
    min-height: 70px;
    padding: 10px;
    margin: 5px;
}

.col-1-2 {
    width: 50%;
    margin: auto 0;
}

header nav {
    float: right;
}
a {
    font-weight: 600;
    color: #000000;
    padding: 5px;
}
a:hover {
    font-size: 1.25em;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: block;
    border: 1px solid #0B7C80;
    padding: 10px;
    margin: 5px;
}
h3 {
    font-size: 18.72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.aux_text {
    font-size: 14px;
}

/* Color rulesets */
.container-colors {
    display: flex;
}
.color p {
    text-align: center;

}
.first-panel {
    display: inline-block;
    width: 24%;
    min-height: 100px;
    margin: 20px auto;
    background-color: #9fa8a3;

}
.second-panel {
    display: inline-block;
    width: 24%;
    min-height: 100px;
    margin: 20px auto;
    background-color: #e3e0cf;
    color: #ffffff;
}

.third-panel {
    display: inline-block;
    width: 24%;
    min-height: 100px;
    margin: 20px auto;
    background-color: #c5d5cb;
}

/* Fonts rulesets */
.container-fonts {
    display: flex;
}
.font-1-panel {
  display: inline-block; 
  width: 49%;
}
.source_code_pro_label {
    text-decoration: underline;
    font-weight: 400;
}
.source_code_pro_regular {
    font-style: normal;
}
.source_code_pro_semi_bold {
    font-weight: 600;
}
.source_code_pro_semi_bold_italic {
    font-style: italic;
    font-weight: 600;
}
.font-2-panel {
    display: inline-block;
    width: 49%;
}
.roboto_regular_italic_label {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-style: italic;
    font-weight: 400;
}
.roboto_medium_italic {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
}
.roboto_bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.roboto_bold_italic {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
}
